/* Styles for component: Profile  */
.hidden {
  display: none;
}


/* Styles for component: Set Remembrall - slider */ 
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 7px;
	background: grey;
	border-radius: 5px;
	background-image: linear-gradient(#d46a6a, #d46a6a);
	background-repeat: no-repeat;
}




/* Styles for component: Profile - delete and edit buttons */ 

/* .profile-delete, .profile-edit {
	display: none;
} */

/* .profile-notifications:hover {
	color: green;
	display: inline-block;
} */


/* Shahin saved css for smoke and header in module 4 on his local computer  */